#header 
{
  padding-top: 0.1em;
  padding-bottom: 0em;  
  margin-bottom: 0em;   
  padding-left: 1em;
  padding-right: 1em; 

/*  background-color: #E3FB71; # light greenish yellow 
  background-color: #DEFF71; # better light yellow
*/  
    background-color: #F9FFE6;  
/*  background-color: #E6FFF8; really washed out light blue */  
/*  background-color: #DDFFDD;  
*/  
}

#header h2
{
  font-size: 160%;
  font-style: italic;
  font-weight: normal;
  /* color: #006549; dark green blue */
  color: #436784; /* medium blue */

 /* color: #3F6622; olive green - maybe ok */

  margin: 0.2em 0 0.2em 0;
  text-decoration: none;
}

#header h3 
{
  padding-top: 1px;
  margin-top: 0px;
  color: #5A8D3F;
  font-size: 90%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#content 
{
   padding-top: 0.3em;    
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 1em;
   vertical-align: top;
   min-width: 600px;
}

#content h3 
{
  padding-top: 1px;
  margin-top: 0px;
	color: #5A8D3F;
  font-size: 90%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div#dataPane
{
   float:left;
}
div#objectList
{
   float: right;   
   min-width: 250px;
   background-color: #DEFF71;
}

div.objectListEntry {
   cursor: pointer;
   min-width: 248px;
   height: 1.3em;
   color: #006549;
   padding-top: 2px;
   margin: 0px;
   font-size: 100%;
   padding-bottom: 1px;  
   padding-left: 4px;
   padding-right: 4px;      
   border:1px solid #006549;  
   background-color: #DEFF71;     
}

.menubutton 
{
   width: 8em;
   height: 1.5em;
   /* background-color: #E6FFF8;  light blue */
   background-color: #3F917A; /* green blue */
   text-align: center;
   padding-top:0.6em;
   color: #EEFFE6;
   border:1px solid #006549;
   border-radius:0.5em;
   text-decoration: none;
}


  input.helpbutton 
  { 
      vertical-align: top;
      padding-top: 0px;
      margin-top: 0px;
      font-size: 60%;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }
    input.thinbutton 
  { 
      vertical-align: middle;
      padding-top: 0px;
      margin-top: 0px;
      font-size: 60%;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }

.objNode3 
{
  background-color: #999999;
  border:1px solid black;  
  padding: 3px;
  margin: 3px;
  border-radius:0.5em;  
}
.objNode2 
{
  background-color: #BBBBBB;
  border:1px solid black;  
  padding: 3px;
  margin: 3px;
  border-radius:0.5em;    
}
.objNode1 
{
  background-color: #DEDEDE;
  border:1px solid black;  
  padding: 3px;
  margin: 3px;
  border-radius:0.5em;    
}
.objNode0 
{
  background-color: #EFEFEF;
  border:1px solid black;  
  padding: 3px;
  margin: 3px;
  border-radius:0.5em;    
}

div.complexAttr
{
  background-color: #E6FFF8;
}

table.simpleAttrs 
{
  max-width: 300px;
}

td.simpleAttrName 
{
   background-color: #CCCCCC;
}

table#targetProgram
{
  border-bottom: 1px solid #D9DFC6;  
  padding-bottom: 5px;
  margin-top: 3px;    
  margin-bottom: 8px;
}

table.query 
{
  border: 1px solid black;    
}

select#type
{
   min-width: 300px;
}

span.green3 
{
   color: #5A8D3F;
   font-size: 90%;
}